// color variables
$blue: #2890F4;
$mint: #0AC832;
$body: rgb(25,35,45);
$darkerBody: #191E28;
$gray: rgb(230,230,230);
$border: #63E2C6;
$card: #EFEFF0;
$warn: #F93943;
$orange: #FF8347;
$strongOrange: #FF4900;
$edit: #FFAF32;

// main styling
body {
	background: $body;
	color: $mint;
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: 'Cormorant Garamond', serif;
	min-width: 1300px;
	a, a:visited {
		text-decoration: none;
		color: $gray;
	}
}

// navbar styling
.navWrapper {
	border-bottom: 2px solid $border;
	width: 100vw;
	.linksWrapper {
		width: 1200px;
		margin: auto;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: space-around;
	  font-family: 'Cabin', serif;
	  color: $gray;
	  a, a:visited {
	  	text-decoration: none;
	  	color: $gray;
	  }
	  a:hover {
	  	color: #FF4900;
	  }
	  .active {
	  	color: $mint !important;
	  }
	  h1 {
	  	margin: 10px;
	  }
	}
}

// styling of wrapper for props.children
.childContainer {
	display: flex;
	justify-content: center;
	padding-top: 25px;
	padding-bottom: 75px;
}

.aboutPage {
	max-width: 800px;
	h1 {
		padding-bottom: 10px;
		margin-bottom: 15px;
		border-bottom: 1px solid $border;
		color: $strongOrange;
	}
	p {
		font-size: 28px;
	}
	span {
		font-weight: bold;
		color: $strongOrange;
	}
}

.notesPageContainer {
	text-align: center;
	a:hover {
		color: $strongOrange;
	}
	h2 {
		margin-top: 35px;
	}
	.note {
		border: 1px solid rgba(230,230,230,0.9);
		padding: 10px 55px 25px 55px;
		background: $darkerBody;
		margin-top: 25px;
		text-align: left;
		width: 750px;
		.editMenu {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			padding-top: 25px;
			padding-bottom: 25px;
			input {
				width: 700px;
				font-size: 22px;
				padding: 12px 14px;
				border: none;
			}
			textarea {
				width: 700px;
				font-size: 20px;
				padding: 15px;
				margin-top: 12px;
				border: none;
			}
			button {
				font-size: 32px;
				border: none;
				background: white;
				padding: 3px 12px;
				margin-top: 15px;
				margin-left: 5px;
				margin-right: 5px;
				font-family: 'Cabin', serif;
				border: 1px solid;
				border-radius: 5px;
			}
			.submitBtn:hover {
				background: $blue;
			}
			.cancelBtn:hover {
				background: $warn;
			}
			button:hover {
				cursor: pointer;
			}
		}
		h1 {
			padding-bottom: 15px;	
			border-bottom: 1px solid $border;
		}
		p {
			font-size: 26px;
		}
		.removeBtn {
			cursor: pointer;
			font-size: 24px;
			color: $warn;
		}
		.removeBtn:hover {
			text-decoration: underline;
		}
		.options {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			margin-top: 45px;
			margin-left: 705px;
			.edit {
				margin-right: 5px;
			}
			.remove {
				margin-left: 5px;
			}
			.edit, .remove {
				color: white;
			}
			.edit:hover {
				color: $edit;
				cursor: pointer;	
			}
			.remove:hover {
				color: $warn;
				cursor: pointer;
			}
		}
	}
}

.addNotesContainer {
	h1 {
		border-bottom: 1px solid rgba(230,230,230,0.8);
	}
	input {
		font-size: 30px;
		padding: 10px;
		width: 600px;
		background: rgb(235,235,235);
		border: none;
	}
	textarea {
		font-size: 26px;
		padding: 10px;
		width: 600px;
		min-height: 175px;
		background: rgb(235,235,235);
		border: none;
	}
	button {
		font-size: 32px;
		border: none;
		background: white;
		padding: 3px 12px;
		margin-top: 25px;
		font-family: 'Cabin', serif;
		border: 1px solid;
		border-radius: 5px;
	}
	button:hover {
		background: $blue;
		cursor: pointer;
	}
}

.flashcardsComponent {
	a:hover {
		cursor: pointer;
		color: $strongOrange !important;
	}
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		border-bottom: 1px solid $border;
		h2 {
			margin-left: 25px;
			margin-right: 25px;
		}
	}
	.cardsWrapper {
		text-align: center;
		.cardWrapper {
			width: 1250px;
			margin: 15px auto;
			padding: 20px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-around;
			align-items: center;
			background: $darkerBody;
			border: 1px solid rgba(250,250,250,0.1);
			.front, .back {
				margin: 10px;
				padding: 3px 25px;
				width: 550px;
				min-height: 125px;
				color: black;
				font-size: 14px;
				border: 1px solid;
				border: 1px solid;
				border-radius: 5px;
			}
			.front:hover {
				cursor: pointer;
			}
			.back:hover {
				cursor: pointer;
			}
			.front {
				background: #FFE48F;
			}
			.back {
				background: #63E2C6
			}
			.edit {
				margin-bottom: 5px;
			}
			.edit:hover {
				color: $edit;
				cursor: pointer;	
			}
			.remove {
				margin-top: 5px;
			}
			.remove:hover {
				color: $warn;
				cursor: pointer;
			}
		}
	}
	.editFlashcard {
		width: 1250px;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		textarea {
			width: 850px;
			min-height: 75px;
			font-size: 22px;
			padding: 25px 45px;
			margin-top: 15px;
			background: $card;
			border: none;
			margin-left: auto;
			margin-right: auto;
		}
		button {
			width: 300px;
			margin: 25px auto 0px auto;
			font-size: 36px;
			border: none;
			background: white;
			padding: 8px 4px;
			font-family: 'Cabin', serif;
			border: 1px solid;
			border-radius: 5px;
		}
		button:hover {
			background: $border;
			cursor: pointer;
		}
		.submitBtn:hover {
			background: $blue;
		}
		.cancelBtn:hover {
			background: $warn;
		}
	}
}

.addFlashcardsComponent {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	textarea {
		font-size: 22px;
		min-height: 75px;
		padding: 15px 25px;
		background: $card;
		width: 900px;
	}
	button {
		font-size: 32px;
		border: none;
		background: white;
		padding: 8px 4px;
		margin-top: 25px;
		font-family: 'Cabin', serif;
		border: 1px solid;
		border-radius: 5px;
	}
	button:hover {
		cursor: pointer;
		background: $orange;
	}
	h2:hover {
		color: $strongOrange;
		cursor: pointer;
	}
}

.studyComponent {
	text-align: center;
	.studyOptions {
		h1 {
			padding-bottom: 25px;
			margin-bottom: 35px;
			border-bottom: 1px solid $border;
		}
		button {
			font-size: 32px;
			border: none;
			background: white;
			padding: 15px 10px;
			margin: 5px 15px;
			font-family: 'Cabin', serif;
			border: 1px solid;
			border-radius: 5px;
		}
		button:hover {
			cursor: pointer;
			background: $orange;
		}
	}
	.studyView {
		.cardTransitionWrapper {
		  position: fixed;
			margin-top: 25px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		  z-index: 10;
		  width: 550px;
		}
		.studyCard {
			padding: 35px;
			height: 250px;
			color: rgb(20,20,20);
			border: 1px solid;
			border-radius: 5px;
			h1 {
				font-size: 30px;
			}
		}
		.studyCard:hover {
			cursor: pointer;
		}
		.studyTitle {
			font-family: 'Cabin', serif;
		}
		button {
			font-size: 32px;
			border: none;
			background: white;
			padding: 8px 16px;
			margin-top: 5px;
			margin-left: 10px;
			margin-right: 10px;
			font-family: 'Cabin', serif;
			border: 1px solid;
			border-radius: 5px;
			width: 200px;
		}
		.forwardBtn {
			background: #0FCF73;
		}
		.backwardBtn {
			background: #FF4040;
		}
		.forwardBtn:hover, .backwardBtn:hover {
			background: $blue;
		}
		.endBtn {
			background: #A37DFF;
		}
		.endBtn:hover {
			cursor: pointer;
			background: #FF8347;
		}
		button:hover {
			cursor: pointer;
			background: $mint;
		}
	}
}

// card flip animation
.cardFlip-enter {
	transform: rotate(180deg);
}
.cardFlip-enter.cardFlip-enter-active {
	transform: rotate(0deg);
  transition: transform 250ms ease;
}
.cardFlip-leave {
	opacity: 1;
}
.cardFlip-leave.cardFlip-leave-active {
	opacity: 0.01;
  transition: opacity 25ms ease;
}

// card switch animations
.cardTransitionLeft-enter {
  transform: translate(-200%);
}
.cardTransitionLeft-enter.cardTransitionLeft-enter-active {
  transform: translate(0%);
  transition: transform 750ms ease;
}
.cardTransitionLeft-leave {
  transform: translate(0%);
}
.cardTransitionLeft-leave.cardTransitionLeft-leave-active {
  transform: translate(200%);
  transition: transform 250ms ease;
}

.cardTransitionRight-enter {
  transform: translate(200%);
}
.cardTransitionRight-enter.cardTransitionRight-enter-active {
  transform: translate(0%);
  transition: transform 750ms ease;
}
.cardTransitionRight-leave {
  transform: translate(0%);
}
.cardTransitionRight-leave.cardTransitionRight-leave-active {
  transform: translate(-200%);
  transition: transform 250ms ease;
}

